* {
    margin: 0px;
}
header {
    background-color: bisque;
    padding: 10px;
    text-align: center;
}
main {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#filledTemplate {
    text-align: left;  
}
form {
    margin: 10px;
}

.story {
    max-width: 700px;
}